    <div class="score-notice" *ngIf="gameIsStarted && userIsCorrect != null">
        <p class="score-wrapper__label score-wrapper__label--wrong" [style.display]="!userIsCorrect ? 'block' : 'none'">Incorrect, try again...</p>
        <p class="score-wrapper__label score-wrapper__label--success" [style.display]="userIsCorrect ? 'block' : 'none'">Correct!</p>
    </div>
    <div class="score-wrapper">
        <div class="score-wrapper__content">
            <p>Total Notes: {{ scoreTracker.totalNotesPlayed }} of {{ scoreTracker.notesLimit }}</p>
            <p class="tries tries--correct">Correct Notes: {{ scoreTracker.totalCorrect }} of {{ scoreTracker.notesLimit }}</p>
            <p class="tries tries--incorrect">Incorrect Notes: {{ scoreTracker.totalIncorrect }} of {{ scoreTracker.notesLimit }}</p>
            <ul>
                <li *ngFor="#note of notes">{{note.correct}} <span *ngif="note.correct != false" correct: {{ note.actualKey }} {{note.actualType}}></span></li>
            </ul>
        </div>
    </div>